<div class="container">
  <div class="row">
    <div class="box col-12">
      <div class="col-sm-7">
        <h3 class="page-title">会員一覧</h3>
      </div>

      <!--ここから会員一覧-->
      <div class="col-sm-8 members-table">
        <table class="table table-hover">
          <thead>
            <tr class="category">
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <% @members.each do |member| %>
          <tbody>
            <tr>
              <th><%= member.id %></th>
              <td><%= link_to member.name, admin_member_path(member.id) %></td>
              <td><%= member.email %></td>
              <td>
                <% if member.is_deleted == true %>
                <span>退会済み</span>
                <% else %>
                <span>有効</span>
                <% end %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>

    </div>
  </div>
</div>
