<div class="container">
  <div class="row">
    <div class="col-xs-5 bg-warning">
      <h3 class="page-title bg-primary">管理者画面</h3>
      <p class="page-msg">本日の注文件数<a>8件</a></p>
    </div>
  </div>
</div>
