// Place all the styles related to the admin::members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// ここからadmin----------------------------------------------------

// 会員一覧
.members-table {
  margin-left: 195px;
}


.btn-sm .true-member, .false-member {
  margin-left: 20px;
  padding: 3px 6px;
}

// 会員編集ボタン
.member-edit-btn {
  margin-right: 190px;
}

// ここまで-------------------------------------------------------------

