<div class="container">
  <div class="about-content">
    <h2>About</h2>
    <p>
      金沢ケーキは、全国あるゆる場所に発送可能なスイーツ店です！<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      ぜひ、ご注文ください！！
    </p>
  </div>
</div>