/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

// 共通レイアウト
.page-title {
  font-weight: bold;
  margin-bottom: 50px;
  // display: inline-block;
  // padding-bottom: 2px;
  // border-bottom: 5px double red;
  small {
    color: black;
  }
}
.category {
  background: #f6efdb;
}
.notice {
  color: green;
}
.alert {
  color: red;
}


// ヘッダーナビゲーション
.navlink {
  // margin-right: 10px;
}
.nav-btn {
  margin: 10px;
}

// aboutページ
.about-content {
  text-align: center;
}

// 会員のログインページ

.nav-message {
  background: #d7cebb;
  padding: 3px;
  // margin-bottom: 15px;
}
.login-form {
  text-align: left;
}
.login-form:first-child {
  margin-top: 20px;
}
.col-form-label {
  line-height: 34px;
  padding-left: 200px;
}
.forget-password {
  text-align: right;
  margin: 0 200px;
}
.actions {
  text-align: center;
}
.actions .btn {
  padding: 10px 50px;
}
.registration-message {
  text-align: left;
  margin-top: 20px;
  margin-left: 120px;
}

// 会員のサインアップ
.form-group {
  // background: yellow;
}
// .signup-form {
//   text-align: left;
// }

// ページ上部のログイン確認
.login-name-message {
  font-weight: bold;
  color: orange;
}



// フッターのレイアウト
.footerFixed{
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 76px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
  /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}
footer {
  position: absolute;/* ←絶対位置 */
  bottom: 0;
  background: #622d18;
  text-align: center;
  padding: 26px 0;
  width: 100%;
  p small {
    color: white;
    font-size: 1rem;
  }
}
